.chart {
	margin-top: 2rem;
	padding-top: 1rem;
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.23);
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.23);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.23);
}

.chartTitle {
	margin-bottom: 1.2rem;
}
